<h2>Update User</h2>

{{#if success}}
    <p class="success-message">{{success}}</p>
{{/if}}

{{#if error}}
    <p class="error-message">{{error}}</p>
{{/if}}

<form action="/updateUser" method="post">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="oldPassword" placeholder="Old Password" required>
    <input type="password" name="newPassword" placeholder="New Password" required>
    <button type="submit">Update User</button>
</form>

 <p class="form-link">
    Go back to <a href="/">Login</a>
</p>